absl-py==0.12.0
attrs==21.2.0
autopy==4.0.0
backcall==0.2.0
colorama==0.4.4
cycler==0.10.0
decorator==5.0.7
ipykernel==5.5.4
ipython==7.23.1
ipython-genutils==0.2.0
jedi==0.18.0
jupyter-client==6.1.12
jupyter-core==4.7.1
kiwisolver
matplotlib
matplotlib-inline
mediapipe
MouseInfo
numpy
opencv-contrib-python
opencv-python
pandas
parso
pickleshare
Pillow
prompt-toolkit
protobuf
PyAutoGUI
PyGetWindow
Pygments
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
PyTweening
pytz
pywin32
pyzmq
six
torch
torchvision
tornado
traitlets
typing-extensions
wcwidth
