
.content {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 500% 500%;
    animation : gradient 12s ease infinite ;
    padding: 30px;
    box-shadow: 0 8px 5px 0 rgba(0,0,0,0.2), 0 6px 5px 0 rgba(0,0,0,0.19);
    
    
  }
.content h1 {
  color:white;
  font-size:800%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
     @keyframes gradient {
       0% {
        background-position: 0% 50%;
        }
       50%{
        background-position: 100% 50%; 
        }
       100%{
        background-position: 0% 50%;  
       }
    }
 button {
    background: linear-gradient( -45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation : gradient 12s ease infinite ;
    transition-duration: 0.4s;
    padding: 4% 40%;
    border: 0cm;
    color: white;
    font-family: 'Epilogue', sans-serif;
    justify-content: right;
   }
.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
    font-size: 50px;
  
    
  }
  .replace:hover::after{

    font-size : 45px;
    align-content: left;
    font-style: italic;
    
  }
  body{
    font-family: 'Courier Prime', monospace;
  }




  
  .words {
    color:inherit;
    font-size: 0;
    line-height: 1.5;
  }
  
  .words span {
    font-size: 5rem;
    display: inline-block;
    animation: move 3s ease-in-out ;
  }
  
  @keyframes move {
    0% {
      transform: translate(-30%, 0);
    }
    50% {
      text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
    }
    100% {
      transform: translate(30%, 0);
    }
  }
  
  .words span:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .words span:nth-child(3) {
    animation-delay: 1s;
  }
  
  .words span:nth-child(4) {
    animation-delay: 1.5s;
  }
  
  .words span:nth-child(5) {
    animation-delay: 2s;
  }
  
  .words span:nth-child(6) {
    animation-delay: 2.5s;
  }
  
  .words span:nth-child(7) {
    animation-delay: 3s;
  }
  
  
@media only screen and (min-width: 992px) {
     
}

/* Tablet view */

@media (min-width: 768px) and (max-width: 991px) {
  
}

/* Mobile view */

@media (max-width: 768px){

  
}