@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
}

body .contained {
  width: 100%;
  height: 100%;
  -ms-scroll-snap-type: both mandatory;
      scroll-snap-type: both mandatory;
  overflow: scroll;
}

body .contained section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}

body .contained section:nth-last-of-type(3) {
  color: whitesmoke;
  background: linear-gradient(-45deg, #683c2f, #661936, #092a36, #093a2e);
  background-size: 400% 400%;
  -webkit-animation: gradient 20s ease infinite;
          animation: gradient 20s ease infinite;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

body .contained section:nth-last-of-type(3) .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .contained section:nth-last-of-type(3) .contain .title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 30px;
}

body .contained section:nth-last-of-type(3) .contain .title h1:hover {
  background: linear-gradient(-45deg, #683c2f, #661936, #092a36, #093a2e);
  background-size: 400% 400%;
  -webkit-animation: gradient 2s ease infinite;
          animation: gradient 2s ease infinite;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  border-radius: 10px;
}

body .contained section:nth-last-of-type(3) .contain #vector {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}

body .contained section:nth-last-of-type(2) {
  background: linear-gradient(-45deg, #ffffff, #93c47d, #fff, #93c47d);
  background-size: 400% 400%;
  -webkit-animation: gradient 50s ease infinite;
          animation: gradient 50s ease infinite;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: #2f3131;
}

body .contained section:nth-last-of-type(2) h1:hover {
  color: #31c8ff;
}

body .contained section:nth-last-of-type(1) {
  background-color: #1c1c1c;
  color: whitesmoke;
}

body .contained section:nth-last-of-type(1) .about-container {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

body .contained section:nth-last-of-type(1) .about-container .col-sm-6 {
  padding-top: 20px;
}

body .contained section:nth-last-of-type(1) .about-container .col-sm-6 .card {
  background-image: url("images/59764-airbox-favicon.gif");
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 35%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 35%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn-outline-success {
  color: #093a2e;
}

/* Tablet view */
/* Mobile view */
/*# sourceMappingURL=stayle.css.map */